@{
  Layout = "_Layout";
}
@model Factory.Models.Machine
<h1>Assign a Machine</h1>
<hr />
<h3>Assign a Machine to this Machine: @Html.DisplayFor(model => model.MachineName)</h3>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)
  @Html.Label("Select Machine")
  @Html.DropDownList("MachineId")
  <input type="submit" value="Add" class="btn btn-success btn-sm" />
}
<hr />
<p>@Html.ActionLink("Cancel", "Details", new { id = model.MachineId}, new {@class="btn btn-primary btn-sm"})</p>