@{
  Layout = "_Layout";
}

@model Factory.Models.Machine;

<h4>Add a new Machine</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.MachineName)
    @Html.TextBoxFor(model => model.MachineName)

    @Html.Label("Select engineer")
    @Html.DropDownList("EngineerId")
    <br><br>
    <input type="submit" value="Add new Machine" class="btn btn-success btn-sm" />
}
<br>
<p>@Html.ActionLink("Show all Machines", "Index", null, null, new {@class="btn btn-primary btn-sm"})</p>