@{
  Layout = "_Layout";
}
@model Factory.Models.Machine;
<h4>Add a new Machine</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.MachineName)
  @Html.TextBoxFor(model => model.MachineName)
  @Html.LabelFor(model => model.MachineDescription)
  @Html.TextBoxFor(model => model.MachineDescription)
  @Html.LabelFor(model => model.MachineStatus)
  @Html.DropDownListFor(model => model.MachineStatus, new List<SelectListItem>
  { new SelectListItem{Text="Operational", Value="Operational"},
    new SelectListItem{Text="Malfunctioning", Value="Malfunctioning"}
    new SelectListItem{Text="In Repair", Value="In Repair"}
  },"-Please select-")
  <br><br>
  <input type="submit" value="Add new Machine" class="btn btn-success btn-sm" />
}
<br>
<p>@Html.ActionLink("Show all Machines", "Index", null, null, new {@class="btn btn-primary btn-sm"})</p>