@{
  Layout = "_Layout";
}
@model Factory.Models.Engineer;
<h4>Add a new Engineer:</h4>
@using (Html.BeginForm())
{
  @Html.Label("Name:")
  @Html.TextBoxFor(model => model.EngineerName,new {required="required"})
  @Html.Label("Description:")
  @Html.TextBoxFor(model => model.EngineerDescription,new {required="required"})
  @Html.Label("Status:")
  @Html.DropDownListFor(model => model.EngineerStatus, new List<SelectListItem>
  { new SelectListItem{Text="Idle", Value="Idle"},
    new SelectListItem{Text="Repairing", Value="Repairing"}
  },"-Please select-")
  <br><br>
  <input type="submit" value="Add Engineer" class="btn btn-success btn-sm" />
}
<br>
<p>@Html.ActionLink("Cancel", "Index", null, null, new {@class="btn btn-primary btn-sm"})</p>