@{
  Layout = "_Layout";
}
@model Factory.Models.Engineer
<h3>Edit Engineer @Html.DisplayFor(model => model.EngineerName)</h3>
<hr />
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)
  @Html.Label("Engineer Name")
  @Html.EditorFor(model => model.EngineerName,new {@required="required"})
  @Html.Label("Engineer Description")
  @Html.EditorFor(model => model.EngineerDescription,new {@required="required"})
  @Html.Label("Engineer Status")
  @Html.DropDownListFor(model => model.EngineerStatus, new List<SelectListItem>
  { new SelectListItem{Text="Idle", Value="Idle"},
    new SelectListItem{Text="Repairing", Value="Repairing"}
  },"-Please select-")
  <br><br>
  <input type="submit" value="Save Changes" />
}
<hr />
<p>@Html.ActionLink("Back to Engineers", "Index", null, null, new {@class="btn btn-primary btn-sm"})</p>